.PhoneInputCountryIconImg {
   height: 16px !important;
    margin: 5px 5px 5px 0;
}
.PhoneInputInput {
    padding-right: 80px;
}
.timerMessage{
    position: absolute;
    z-index: 99;
    padding: 20px 8px;
    font-size: 18px;
    color: #fff;

}
.timerMessage h1{
    font-size: 18px;
        
}
.css-1vr111p-option,
.css-1qprcsu-option {
  display: flex !important;
  font-size: 14px !important;
  align-items: center !important;
  font-weight: 400 !important;
}
.css-1vr111p-option input,
.css-1qprcsu-option input  {
  width: 16px;
}
@media (min-width: 1440px) {
 
}
@media (max-width: 767px) {
.mobiledsd .SingleDatePickerInput {
 margin: 0 !important;
width: 100% !important;
}

}
@media (max-width: 575px) {

}