.PhoneInputCountryIconImg {
   height: 16px !important;
    margin: 5px 5px 5px 0;
}
.PhoneInputInput {
    padding-right: 80px;
}
.timerMessage{
    position: absolute;
    z-index: 99;
    padding: 20px 8px;
    font-size: 18px;
    color: #fff;

}
.timerMessage h1{
    font-size: 18px;
        
}
@media (min-width: 1440px) {
 
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}