.PhoneInputCountryIconImg {
   height: 16px !important;
    margin: 5px 5px 5px 0;
}
.PhoneInputInput {
    padding-right: 80px;
}
@media (min-width: 1440px) {
 
}
@media (max-width: 767px) {
.mobiledsd .SingleDatePickerInput {
 margin: 0 !important;
width: 100% !important;
}

}
@media (max-width: 575px) {

}