@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

/* Can be given to Topbar when a modal is opened
 * so that the Topbar is not rendered on top of it.*/
.topbarBehindModal {
  z-index: initial;
}

.topbar {
  @media (--viewportMedium) {
    position: fixed;
    top: 0;
    left: 0;
    /* We need to raise Topbar above .container */
    z-index: 1;
  }
}

.container {
  /* Layout */
  width: 100%;
  flex-grow: 1;
  /* display: flex; */

  @media (--viewportMedium) {
    position: relative;
    padding-top: var(--topbarHeightDesktop);
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.searchResultContainer {
  /* background-image: url(../../assets/Header_Image.png); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2px 0 0 0;
  background: #f8f8f8;
  @media (--viewportMedium) {
    padding: 18px 0 0 0;
    /**
     * .container is using flexbox,
     * This specifies that searchResultContainer is taking 60% from the viewport width
     */
    flex-basis: 50%;
  }

  @media (--viewportLarge) {
    background-image: url(../../assets/Header_Image.png);
    background-size: cover;
    flex-basis: 62.5%;
    padding: 23px 0 0 0;
  }
}

.error {
  color: var(--failColor);
  padding-left: 24px;
  padding-right: 24px;
}

.searchString {
  /* Search string should not break on white spaces - i.e. line-break should happen before. */
  white-space: nowrap;
}

.searchFiltersPrimary {
  display: none;

  @media (--viewportMedium) {
    display: flex;
    padding: 0 24px;
    margin-bottom: 21px;
  }

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}

.searchFiltersMobile {
  padding: 16px 24px;

  @media (--viewportMedium) {
    display: none;
  }
}

.searchFiltersPanel {
  flex-grow: 1;
  display: flex;
  padding: 0 24px 24px 24px;

  @media (--viewportLarge) {
    padding: 0 36px 36px 36px;
  }
}

.listings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.newSearchInProgress {
  opacity: 0.1;
}

.searchListingsPanel {
  flex-grow: 1;
}

.mapPanel {
  @media (--viewportMedium) {
    /**
     * .container is using flexbox,
     * This specifies that mapPanel is taking 34% from the viewport width
     */
    flex-basis: 50%;

    /* Own layout settings */
    display: flex;
    height: 100%;
  }

  @media (--viewportLarge) {
    flex-basis: 37.5%;
  }
}

.sortBy {
  margin-right: 9px;
}

.sortByMenuLabel {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceTinyFontStyles;
  font-weight: var(--fontWeightMedium);

  height: 35px;
  min-height: 35px;
  padding: 0 18px;
  margin: 0;
  border-radius: 4px;
  white-space: nowrap;
}

.mapWrapper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100vw;
  height: 100vh;

  @media (--viewportMedium) {
    /* Map is fixed so that it doesn't scroll along search results */
    position: fixed;
    top: var(--topbarHeightDesktop);
    right: 0;

    /* Fixed content needs width relative to viewport */
    width: 50vw;
    height: calc(100vh - var(--topbarHeightDesktop));
  }

  @media (--viewportLarge) {
    width: 37.5vw;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }
}

.sectionContent {
  margin: 50px auto 51px;
  width: 100%;
  @media (max-width: 1023px) {
    margin: 50px 0;
  }

  @media (--viewportMedium) {
    max-width: 100%;
    /* margin: 60px 24px 60px 24px; */
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    /* margin: 60px auto 60px auto; */
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}
.updthmform {
  @media (max-width: 575px) {
    padding: 0 15px;
  }
  & h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 26px;
    @media (max-width: 767px) {
      font-size: 38px;
      color: #000;
    }
    @media (max-width: 575px) {
      font-size: 28px;
      line-height: 38px;
    }
  }
  & p {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0 0 50px;
    @media (max-width: 767px) {
      font-size: 18px;
      color: #000;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
  & .lformrow {
    display: flex;
    margin: 0 0 20px;
    justify-content: center;
    @media (max-width: 1023px) {
      padding: 0 50px;
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
    @media (max-width: 575px) {
      padding: 0;
    }
    & .lformcol {
      padding: 0 10px;
      flex-basis: 33%;
      @media (max-width: 1023px) {
        flex-basis: 30%;
        margin: 0 0 20px;
      }
      &:last-child {
        flex-basis: 45%;
        @media (max-width: 1023px) {
          flex-basis: 35%;
        }
      }
      & label {
        color: #fff;
        padding: 0 0 10px;
        font-weight: 500;
        @media (max-width: 767px) {
          font-size: 15px;
          color: #000;
        }
      }
    }
    & .formcontrol {
      height: 45px;
      border: 1px solid #bdbdbd;
      border-radius: 4px;
      padding: 5px 12px;
      background-color: #fff;
      font-size: 14px;
      font-weight: 200;
      background-position: 95%;
      background-size: 12px;
    }
  }
  & .submitButton {
    margin: 50px auto 20px;
    max-width: 35%;
    min-height: 50px;
    display: block;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    @media (max-width: 767px) {
      max-width: 65%;
    }
    @media (max-width: 575px) {
      max-width: 80%;
    }
    & img {
      height: 16px;
      margin: 0 10px 0 0;
    }
  }
  & .aylbtntxt {
    margin: 0;
    font-size: 18px;
    letter-spacing: 0;
    & a {
      margin: 0 0 0 5px;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
