@import '../../styles/customMediaQueries.css';

.root {
}

.tabs {
  display: none;

  @media (--viewportMedium) {
    display: flex;
    justify-content: flex-end;
    height: 55px;
    align-items: flex-end;
    padding: 13px 24px 0 24px;
  }

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}
.pointer {
  pointer-events: none;
}

.tab {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportLarge) {
    margin-left: 24px;
  }
}

.listingPanel {
  width: 100%;
  margin: 24px auto;
  /* overflow-x: hidden; */

  @media (--viewportMedium) {
    margin: 48px auto;
  }

  @media (--viewportLarge) {
    margin: 50px auto;
    max-width: 1040px;
  }
}

.title {
  margin: 0;
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 400;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0 20px;
  @media (max-width: 1023px) {
    padding: 0 15px 20px;
  }
  @media (max-width: 575px) {
    font-size: 22px;
    font-weight: 500;
  }
}

.listingCards {
  padding: 0 24px 96px 24px;

  @media (--viewportMedium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (--viewportLarge) {
    padding: 0 36px 36px 36px;
  }
}

.listingCard {
  margin-bottom: 36px;
  flex-basis: 100%;

  @media (--viewportMedium) {
    /**
     * resultPanel: 62.5vw from 1024px = 640px
     * panelPaddings: - 2*36px = 72px
     *
     * columnCount: 2
     * gutterWidthBetweenColumns: 24px
     *
     * (resultPanel - (panelPaddings + gutterWidthBetweenColumns)) / columnCount = listingCardWidth
     * ergo => listingCardWidth: 272px
     *
     * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns / columnCount))
     */
    flex-basis: calc(50% - 12px);
    margin-right: 24px;
  }

  @media (--viewportXLarge) {
    /**
     * resultPanelWidthRatio = 0.625 aka 62.5%
     *
     * resultPanel: 62.5vw from 1920px = 1200px
     * panelPaddings: - 2*36px = 72px
     *
     * columnCount: 3
     * guttersBetweenColumns: 2*24px = 48px
     *
     * (resultPanel - (panelPaddings + guttersBetweenColumns)) / columnCount = listingCardWidth
     * ergo => listingCardWidth: 360px
     *
     * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns / columnCount))
     */
    flex-basis: calc(33.33% - 16px);
    margin-right: 24px;
  }
}

/**
 * Remove margin-right from listingCards on the last column
 * This is a special case in the world of breakpoints. Nth-of-type effects every nth item.
 * Here we take margin-right away, but we don't want it affect the next column breakpoint.
 */

.listingCard:nth-of-type(2n) {
  @media screen and (min-width: 768px) and (max-width: 1920px) {
    margin-right: 0;
  }
}

.listingCard:nth-of-type(3n) {
  @media (--viewportXLarge) {
    margin-right: 0;
  }
}
.label {
  text-shadow: #4a4a4a;
  font-size: 17px;
  padding: 5px;
}
.loading {
  width: 100%;
  margin: 24px auto;
  /* overflow-x: hidden; */

  @media (--viewportMedium) {
    margin: 48px auto;
  }

  @media (--viewportLarge) {
    margin: 50px auto;
    max-width: 1040px;
  }
}

.filters {
  margin-right: 15px;
  margin-left: 15px;
  /* top: 286px;
  left: 558px;
  width: 464px;
  height: 51px; */
  width: 100%;
  margin: 24px auto;
  /* overflow-x: hidden; */

  @media (--viewportMedium) {
    margin: 48px auto;
  }

  @media (--viewportLarge) {
    margin: 50px auto;
    max-width: 1040px;
  }
}

/* .categoryFilter {
  top: 286px;
  left: 64px;
  width: 464px;
  height: 51px;
  margin-right: 15px;
  margin-left: 15px;
}
.areaOfLawFilter {
  top: 286px;
  left: 867px;
  width: 436px;
  height: 51px;
  margin-right: 15px;
  margin-left: 15px;
} */
.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin: auto 24px 0 24px;

  @media (--viewportLarge) {
    margin: auto 36px 0 36px;
  }
}

.loading {
  width: 100%;
  margin: 24px auto;
  /* overflow-x: hidden; */

  @media (--viewportMedium) {
    margin: 48px auto;
  }

  @media (--viewportLarge) {
    margin: 50px auto;
    max-width: 1040px;
  }
}
.lformrow {
  width: 100%;
  margin: 24px auto;

  margin: 50px auto 0;
  max-width: 1040px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;

  @media (max-width: 1199px) {
    padding: 0 15px;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media (--viewportMedium) {
    margin: 48px auto 0;
  }

  @media (--viewportLarge) {
  }

  & .label {
    font-size: 14px;
    color: #000;
    padding: 0;
    display: block;
    margin: 0 0 8px;
    font-weight: 500;
  }
}

.categoryFilter,
.statusFilter {
  flex-basis: 50%;
  max-width: 50%;
  @media (max-width: 767px) {
    flex-basis: 48%;
    max-width: 48%;
    margin: 0 0 15px;
  }
  @media (max-width: 575px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.statusFilter {
  margin: 0 15px;
  @media (max-width: 767px) {
    margin: 0 0 0 15px;
  }
  @media (max-width: 575px) {
    margin: 0 0 15px 0;
  }
}
.areaOfLawFilter {
  flex-basis: 48%;
  max-width: 48%;
  @media (max-width: 767px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.areaOfLawFilter button {
  width: 100%;
  min-height: 46px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  font-size: 15px;
  box-shadow: none;
  padding-top: 3px;
  @media (max-width: 767px) {
    min-height: 38px;
  }
}
.heading {
  position: relative;
  /* width: 80vw; */
  max-width: 1020px;
  margin: 0 auto 25px;
}
.listingrow {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 15px;
  }
}
/* horizontaldesign */
.horizontalcard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-left: brown 5px solid;
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  position: relative;
  max-width: 48%;
  flex-basis: 48%;

  @media (max-width: 1023px) {
    margin: 10px auto;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 15px 8px;
  }
}
.lefthorizontal {
  width: 75%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 991px) {
    padding: 15px 15px;
  }
  @media (max-width: 767px) {
    width: 70%;
  }
  @media (max-width: 575px) {
    padding: 0;
    width: 100%;
  }
}
.lefttitle {
  font-size: 20px;
  font-weight: bold;
  /* padding-top: 50px; */
  color: black;
  line-height: 25px;
  margin: 0 0 8px;
  @media (max-width: 575px) {
    padding: 0;
  }
}
.description {
  padding-top: 10px;
}
.righthorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-bottom: 20px;
  /* box-shadow: -3px 0px 2px 0px #aaaaaa; */
  border-left: rgb(179, 172, 172) 1px solid;
  padding-top: 10px;
  margin: 20px 0px;
  @media (max-width: 767px) {
    width: 30%;
  }
  @media (max-width: 575px) {
    width: 100%;
    border-left: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
.lastprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 575px) {
    flex-direction: row;
    width: 100%;
  }
}
.rightlowerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -3px 0px 2px 0px #aaaaaa;
  width: 100%;
  height: 100%;
}
.span {
  background-color: #ebffef;
  padding: 5px 20px;
  color: #2db10b;
  font-size: 13px;
  font-weight: 100;
}
.editbutton {
  background-color: #2db10b;
  padding: 2px 2px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 18px;
  align-items: center;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  @media (max-width: 575px) {
    flex-basis: 50%;
    margin: 10px auto 0;
  }
}
.price {
  padding: 20px;
  color: #a91722;
  font-size: 25px;
  font-weight: bold;
  font-family: poppins;
  @media (max-width: 575px) {
    padding: 10px 0 10px 0;
    font-size: 20px;
    margin: 0 0 0 auto;
  }
}
.togglemenu {
  position: absolute;
  right: 6px;
  top: -2px;
  height: auto;
  width: 30px;
}
.linkcolor {
  color: #ebffef;
}
.readmore {
  color: #a91722;
}
.inlinebutton {
  color: #f30d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
  font-size: 13px;
  width: auto;
  min-width: 154px;
}
.buttontext {
  color: #f30d0d;
}
.toggleicon {
  position: absolute;
  right: 0px;
}
.menuContent {
  max-width: 154px;
  right: 0;
  position: absolute;
  left: auto !important;
  width: auto !important;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.openListingButton{
  cursor: pointer;
}

.clientIdSearchForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  padding-right: 0.5rem;
  border: 1px solid #b6b5b5;
  border-radius: 4px;

  & img{
    width: 26px;
    height:26px;
    object-fit:contain;
    transform:scale(0.9);
  }

  & button{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-shrink: 0;
    color:#a6a6a6;
    border: 0;
    position: relative;
    cursor: pointer;
    background-color: transparent;
  }
  & button:disabled{
    pointer-events: none;
  }

  & input{
    border: 0px;
    padding-left:0.5rem;
    padding-right: 1px;
  }
  & > button:last-child{
    margin-left: 0.25rem;
  }
  & > button:last-child::after{
    content: "";
    position: absolute;
    height:28px;
    width: 1px;
    background-color:#a6a6a6;
    top:1px;
    left:-5px;
  }

}

.activeClientIdSearchForm{
  border:2px solid #2684ff !important;

  & > button:nth-child(2){
    color:var(--matterColor)
  }
}