.root {
  /* Expand to available space */
  flex-grow: 1;

  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    padding-top: 1px;
  }
}

.features {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
.fromgroup {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  & .fgselect {
    width: 95%;
  }
  & svg {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 9px;
  }
}
.inlineaddbtn {
  margin: 30px 0 0;
  float: left;
  & button {
    background: none;
    color: var(--marketplaceColor);
    text-align: left;
    min-height: auto;
    &:disabled {
      opacity: 0.5;
      background-color: transparent;
      color: var(--marketplaceColor);
    }
    &:hover,
    &:focus {
      box-shadow: none;
      background: none;
      text-decoration: underline;
      color: var(--marketplaceColor);
    }
  }
}
