@import '../../styles/propertySets.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);

  @media (--viewportLarge) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.textarea {
  @apply --marketplaceH4FontStyles;
  border-bottom-width: 0;
  display: flex;
  flex-direction: column;

  /* Avoid text going behind the submit button */
  padding: 22px 52px 25px 0;

  margin: 0;

  /* We need to remove horizontal paddings,
   since textarea uses content-box (autosize library fix). */
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-color: var(--attentionColor);
  background-color: transparent;
  /* position: absolute; */
  /* position: absolute; */

  @media (--viewportMedium) {
    margin: 0;
  }
  @media (--viewportLarge) {
    padding: 0 0 5px 0;
    margin: 0;
    width: 100%;
  }
  @media (max-width: 1023px) {
    padding: 2px 0 25px 0;
  }
}

.textarea textarea {
  padding-right: 66px;
  box-sizing: border-box;
}
.spinner {
  stroke: var(--matterColorLight);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--successColor);
}

.strokeMatter {
  stroke: var(--matterColor);
}

.submitContainer {
  display: flex;
  flex-direction: row;
}

.errorContainer {
  display: block;
  flex: 1;
  text-align: right;
  /* padding: 26px 24px 0 0; */
}

.error {
  @apply --marketplaceH5FontStyles;
  font-weight: var(--fontWeightMedium);
  color: var(--failColor);
  margin: 0;
}

.submitButton {
  /* @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceH5FontStyles;
  font-weight: var(--fontWeightMedium); */

  float: right;
  /* padding: 0 16px; */
  /* min-height: auto; */
  /* min-width: 150px;
  height: 41px; */

  display: inline-block;
  /* margin: 17px 0 0 0; */
  /* width: auto; */
  border: none;
  cursor: pointer;
}
/* .submitButton:hover{
  
} */

.msgContainer {
  /* display: flex;
  flex-direction: row;
  position: relative; */
}
.icons {
  margin: 20px 0 0;
}
.frmttxt {
  margin: 6px 0 0;
  font-size: 14px;
}
.upbtnrow {
  display: flex;
  flex-direction: row;
}
.uploadIcon {
  margin: auto 5px auto 10px;
  height: 18px;
}
.discardIcon {
  cursor: pointer;
  margin: auto 5px auto 10px;
  color: var(--attentionColor);
}

.sendIconContainer {
  cursor: pointer;
  flex-basis: 36%;
  max-width: 36%;
  margin: 0 0 0 10px;
  background: #fff;
  border: 1px solid #bdbdbd;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendIconContainer p {
  margin: 0;
  font-size: 14px;
  font-weight: 200;

  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.fileSelector {
  display: flex;
  width: 100%;
  border-bottom: 2px solid;
  border-bottom-color: var(--attentionColor);
  background-color: transparent;
}

.sendIcon {
  margin: 0 5px 0 0;
  height: 16px;
}
.uploadbtn {
  background: #f1f1f1;
  flex-basis: 70%;
  max-width: 70%;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  border: 1px dashed #b5b5b5;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  @media (max-width: 767px) {
    padding: 8px;
  }
}
.uploadbtn span div {
  display: flex;
}
.uploadbtn span p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
  }
}
.fileClearIcon {
  display: flex;
  align-items: center;
}
.fileClearIcon p {
  color: var(--attentionColor);
}
