@import '../../styles/propertySets.css';

.root {
  @apply --marketplaceModalFormRootStyles;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.fromgp {
  margin: 0 0 20px;
}
.name {
  display: flex;
  justify-content: space-between;
  /* margin-top: 24px; */

  @media (--viewportMedium) {
    /* margin-top: 32px; */
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}
.phone {
  margin-bottom: 20px;
}
.otp {
  margin-bottom: 20px;
}

.password {
  /* @apply --marketplaceModalPasswordMargins; */
}

.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;
}

.bottomWrapperText {
  @apply --marketplaceModalBottomWrapperText;
}

.termsText {
  @apply --marketplaceModalHelperText;
}

.termsLink {
  @apply --marketplaceModalHelperLink;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.phoneInputField {
  display: flex;
  flex-direction: row;
  position: relative;
}
.phnWithErr {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.phnErrMsg {
  margin-top: 6px;
  margin-bottom: 10px;
  color: var(--failColor);
  overflow: hidden;
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
}
.otpErrMsg {
  margin-top: 6px;
  margin-bottom: 10px;
  color: var(--failColor);
  overflow: hidden;
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
}

.sendOtpButton {
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  border: 0;
  font-size: 12px;
  background: #a91722;
  padding: 0 12px;
}
.sendOtpButton:disabled {
  cursor: not-allowed;
  background: grey;
}
