.root {
  /* Expand to available space */
  flex-grow: 1;

  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    padding-top: 1px;
  }
}

.features {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
.inlinefrom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.fromgroup {
  display: flex;
  /* align-items: center; */
}
.inlinefrom button {
  min-height: 44px;
  max-width: 48%;
  font-weight: bolder;
  @media (max-width: 991px) {
    max-width: 100%;
  }
}
.remove {
  background: #8c8c8c;
  color: #000;
}
.remove:hover {
  color: #fff;
}
.inlinefrom button:disabled {
  background-color: #eee;
}
.typeContainer {
  display: flex;
  margin-bottom: 20px;
  & span {
    margin-right: 30px;
    & span {
      margin-right: 5px;
    }
  }
}
.sectionContainer {
  & h3 {
    margin-top: 0;
  }
  & .fromgroup {
    margin-bottom: 20px;
    position: relative;
    & .clientId {
      width: 100%;
    }
    & svg {
      position: absolute;
      right: 0;
      top: 10px;
      cursor: pointer;
    }
  }
}
.cdin {
  margin-bottom: 30px;
  & .cdinwd {
    width: 48%;

    & input {
      padding-bottom: 0;
    }
  }
}
