.chbtntw {
  position: relative;
}
.chbtntw .button {
  padding: 14px 15px;
  border: 0;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  letter-spacing: 0.02857em;
}
.chbtntw .button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.chbtntw .button svg {
  fill: #000;
  height: 24px;
  width: 22px;
  margin: 0;
}
.notificationDot {
  /* Dimensions */
  width: 7px;
  height: 7px;
  border-radius: 50%;

  /* Position */
  position: absolute;
  top: 17px;
  right: 12px;

  /* Style: red dot */
  background-color: var(--failColor);

  animation-name: notificationPop;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;

  animation-timing-function: ease-in;
  opacity: 0;
  transform: scale(0);
}

@keyframes notificationPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
