@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.sectionContent {
  margin: 50px auto 51px;
  width: 100%;
  @media (max-width: 1023px) {
    margin: 50px 0;
    padding: 0 35px;
  }

  @media (--viewportMedium) {
    max-width: 100%;
    /* margin: 60px 24px 60px 24px; */
    padding: 0 35px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    /* margin: 60px auto 60px auto; */
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0 35px;
  }
}
.error {
  margin-top: 5px;

  @media (--viewportMedium) {
    margin-top: 4px;
  }
  @media (--viewportLarge) {
    margin-top: 3px;
  }
}

.error {
  color: var(--failColor);
}

.aside {
  box-shadow: none;
}

.asideContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--matterColorNegative);

  @media (--viewportLarge) {
    flex-direction: column;
    border-bottom: none;
  }
}

.avatar {
  margin: 0 30px 0 0;
  width: 150px;
  height: 150px;
  @media (max-width: 575px) {
    margin: 0 0 30px 0;
  }
}

.mobileHeading {
  flex-shrink: 0;
  margin: 47px 0 0 0;

  @media (--viewportMedium) {
    margin: 49px 0 0 0;
  }
  @media (--viewportLarge) {
    display: none;
  }
}

.editLinkMobile {
  margin-top: 17px;

  /* Pull the link to the end of the container */
  margin-left: auto;

  @media (--viewportMedium) {
    margin-top: 20px;
  }
  @media (--viewportLarge) {
    display: none;
  }
}

.editLinkDesktop {
  display: none;

  @media (--viewportLarge) {
    display: inline;
  }
}

.desktopHeading {
  display: none;

  @media (--viewportLarge) {
    display: block;
    margin: 2px 0 24px 0;
  }
}

.bio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 5px 0 24px 0;

  @media (--viewportMedium) {
    margin: 4px 0 51px 0;
  }
  @media (--viewportLarge) {
    margin: 0 0 56px 0;
    max-width: 600px;
  }
}

.listingsContainer {
  @apply --clearfix;
  border-top: 1px solid var(--matterColorNegative);
  border-bottom: 1px solid var(--matterColorNegative);
  padding-bottom: 23px;

  @media (--viewportMedium) {
    padding-bottom: 22px;
  }
}

.listingsTitle {
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 48px;
    margin-bottom: 8px;
  }
  @media (--viewportLarge) {
    margin-top: 58px;
    margin-bottom: 8px;
  }
}

.withBioMissingAbove {
  /* Avoid extra borders in mobile when bio is missing */
  border-top: none;

  @media (--viewportLarge) {
    border-top: 1px solid var(--matterColorNegative);
  }
}

.listings {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.listing {
  width: 100%;

  /* Single column in mobile */
  margin-top: 34px;
  &:first-of-type {
    margin-top: 18px;
  }

  @media (--viewportMedium) {
    /* Two columns in desktop */
    width: calc(50% - 12px);
    margin-bottom: 36px;

    /* Horizontal space */
    &:nth-of-type(odd) {
      margin-right: 12px;
    }
    &:nth-of-type(even) {
      margin-left: 12px;
    }

    /* Vertical space */
    margin-top: 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 20px;
    }
  }
}

.mobileReviewsTitle {
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);
  margin: 24px 0 26px 0;
}

.mobileReviews {
  margin-bottom: 36px;
}

.desktopReviews {
  margin-top: 28px;

  @media (--viewportMedium) {
    margin-bottom: 48px;
  }

  @media (--viewportLarge) {
    max-width: 600px;
    margin-bottom: 0;
  }
}

.desktopReviewsTitle {
  @apply --marketplaceH3FontStyles;
  margin-bottom: 0;
}

.desktopReviewsTabNav {
  margin-bottom: 32px;
}
.areaElement {
  border: 1px solid #b4aaa1;
  top: 691px;
  left: 65px;
  width: 261px;
  height: 40px;
}
.profileCard {
  display: flex;
  margin: 0 0 40px;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
}
.profileName {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px;
}
.locationBio span {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7a7a7a;
  margin: 0 0 10px;
}
.locationBio span img {
  margin: 0 10px 0 0;
}
.infotxtp {
  color: #000;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px !important;
}
.lawyerDetail hr {
  margin-bottom: 50px;
  border: 1px solid #dbdbdb;
}
.sectionprofin {
  margin-bottom: 30px;
}
.sectionprofin .sectionTitle {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.areaElement {
  border: 1px solid #b4aaa1;
  background: #fffae7;
  margin: 0 10px 10px 0;
  padding: 5px 14px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px;
  color: #4e4e4e;
}
.cncol1 {
  display: flex;
  margin: 0 0 30px;
  @media (max-width: 575px) {
    flex-direction: column;
  }
}
.contacttag {
  flex-basis: 30%;
  @media (max-width: 767px) {
    flex-basis: 44%;
  }
}
.contacttag p {
  color: #000;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
  @media (max-width: 575px) {
    margin: 0 0 10px;
  }
}
.contactinfo {
  display: flex;
}
.contactinfo img {
  height: 16px;
  margin: 4px 10px 0 0;
}
.contactinfo p,
.contactinfo a {
  color: #38394e;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  margin: 0 0 5px;
}
.contactinfo a {
  text-decoration: underline;
}
.contactinfo p img {
  margin-top: 0;
  height: 14px;
  vertical-align: text-top;
}
.mdalign {
  margin-top: 9px !important;
}
.sectionprofin label {
  color: #000;
  font-size: 16px;
}
.profDetail {
  @media (max-width: 575px) {
    overflow-x: auto;
  }
}
.profDetail table {
  width: 100%;
  max-width: 50%;
  margin: 20px 0 0 10px;

  @media (max-width: 1023px) {
    max-width: 60%;
  }
  @media (max-width: 991px) {
    max-width: 100%;
  }
  @media (max-width: 575px) {
    min-width: 500px;
    margin-left: 0;
  }
}
.profDetail table th {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding: 5px 10px;
}
.profDetail table td {
  padding: 12px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.profDetail table tr:nth-child(odd) {
  background: #fff;
}
.profDetail table tr:nth-child(even) {
  background: #f5f5f5;
}
.profDetail table .state {
  width: 150px;
  word-break: break-all;
}
.profDetail table .status {
  width: 150px;
  word-break: break-all;
}

.profDetail table .ao {
  width: 150px;
  word-break: break-all;
}
.workexp .status {
  width: 250px !important;
}
.ClientId {
  margin: 0 0 30px;
}
.ClientId span {
  color: #a91722;
  font-size: 24px;
  font-weight: 900;
  margin-right: 15%;
  @media (max-width: 575px) {
    display: block;
    margin: 0 0 15px;
  }
}
.cdrowclnt {
  margin-bottom: 50px;
}
.cdrowclnt .coDetail {
  color: #000;
  font-size: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 15px;
}
.coInfo {
  min-width: 60%;
  @media (max-width: 991px) {
    min-width: 100%;
  }
}
.infoclnrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.infoclnrow span {
  margin: 0 auto 0 0;
  color: #000;
  font-size: 16px;
  flex-basis: 40%;
}
.coleftrow {
  color: #7a7a7a !important;
  font-weight: 400;
  @media (max-width: 767px) {
    flex-basis: 100% !important;
  }
}
.locationBio {
  flex-basis: 50%;
}
.locationBio p {
  display: flex;
  font-size: 20px;
  color: #000 !important;
  word-break: break-all;
}
.locationBio p span {
  font-size: 20px !important;
  color: #000 !important;
  margin: 0 0 0 12px;
}
.pInfo {
  margin: 50px 0 0;
  max-width: 60%;
}
.lan {
  margin: 0 auto 0 0;
  flex-basis: 40%;
}
.lan span {
  flex-basis: auto !important;
  margin: 0 10px 0 0;
}
.profileViewLink {
  color: var(--marketplaceColor);
  text-decoration: underline;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
/* horizontaldesign */
.horizontalcard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-left: brown 5px solid;
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.lefthorizontal {
  width: 80%;
  padding-left: 10px;
}
.lefttitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: 45px;
}
.righthorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding-bottom: 20px;
  /* box-shadow: -3px 0px 2px 0px #aaaaaa; */
  border-left: rgb(179, 172, 172) 1px solid;
  padding-top: 10px;
  margin: 20px 0px;
}
.rightlowerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -3px 0px 2px 0px #aaaaaa;
  width: 100%;
  height: 100%;
}
.span {
  background-color: #ebffef;
  padding: 2px 2px;
  padding-right: 15px;
  padding-left: 15px;
  color: #2db10b;
}
.editbutton {
  background-color: #a91722;
  padding: 2px 2px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 18px;
  align-items: center;
  border: none;
  color: #ffffff;
  font-weight: 500;
}
.price {
  padding: 20px;
  color: #a91722;
  font-size: 25px;
  font-weight: bold;
  font-family: poppins;
}
.togglemenu {
  display: inline;
}
.linkcolor {
  color: #ebffef;
}
.readmore {
  color: #a91722;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  padding: 10px;
  margin: 8px;
}
.pagination a:hover {
  border: 1px solid #a91722;
  border-radius: 50%;
  background-color: #a91722;
  color: white;
}
