@import '../../styles/propertySets.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 16px 0 2px 0;
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-right: 18px;
}
.price {
  padding: 0 10px 0 0;
  margin: 0px;
  align-items: center;
  color: #a91722;
  font-weight: 800;
}
.priceValue {
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.certificateInfo {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
.SectionAvatarImg {
  position: relative;
}
.userContent {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  max-width: 350px;
  flex-basis: 350px;
  @media (max-width: 767px) {
    flex-direction: row;
    flex-basis: auto;
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }
  @media (max-width: 575px) {
    flex-direction: column;
  }
}
.avtrpp {
  display: flex;
  align-items: center;
}
.userBio {
  flex-basis: calc(100% - 20px);
  padding: 0 35px 0 0;
  word-break: break-all;
  line-height: 20px;
  border-right: 1px solid rgb(201, 198, 198);
  /* border-left: 1px solid rgb(201, 198, 198); */
  min-height: 120px;
  /* align-items: center; */
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px) {
    width: 100%;
    border-right: 0;
    min-height: none;
    flex-basis: 100%;
    padding: 0;
  }
  @media (max-width: 575px) {
    min-height: auto;
    border-right: 0;
    padding: 0;
  }
}

.cardContainer {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  /* align-items: center; */
  padding: 15px;
  border-radius: 0;
  border-left: 7px solid #a91722;
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.2);
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.dmuser {
  display: flex;
  flex-basis: calc(100% - 200px);
  align-items: center;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 10px 0 0;
  }
}
.bookingContent {
  padding: 15px 0 0;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin: 0 0 0 auto;
    flex-basis: 40%;
  }
  @media (max-width: 575px) {
    padding: 10px 0 0;
    width: 100%;
  }
}
.userInfo {
  margin-left: 10px;
  text-transform: capitalize;
  /* @media (max-width: 575px) {
  } */
  & .userName {
    font-size: 14px;
    color: #38394e;
    line-height: 18px;
    margin: 0 0 5px;
  }
  & .userVerified {
    font-size: 13px;
    color: #a3a3a3;
    line-height: 18px;
    margin: 0 0 5px;
  }
}
.profileBtnContainer {
  width: calc(100% - 74px);
  margin: 0 0 0 auto;
  @media (max-width: 767px) {
    width: calc(100% - 8px);
  }
  @media (max-width: 575px) {
    width: calc(100% - 50%);
  }
}
.profileBtn {
  background-color: var(--marketplaceColor);
  color: var(--matterColorLight);
  padding: 7px 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  border: 0;
  max-width: 100%;
  line-height: 20px;
  @media (max-width: 575px) {
    max-width: none;
  }
}
.profileBtn:hover {
  background-color: var(--marketplaceColorDark);
}
.locationIconContainer {
  margin-right: 10px;
}
.locationIcon {
  max-height: 12px;
  margin: 0 6px 0 0;
  opacity: 0.5;
}
.userLocation {
  font-size: 13px;
  color: #a3a3a3;
  line-height: 18px;
}
